.game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  border: 1px solid black;

  &.in-progress {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: stretch;
    align-items: stretch;

    h1 {
      text-align: center;
    }
  }

  &.won {
    background-color: green;

    .winning-message {
      text-align: center;
    }
  }
}
