.square {
  border: 1px solid black;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0);

  &.flipped {
    color: white;
    background-color: black;
  }

  &.correct {
    color: black;
    background-color: green;
  }
}
